@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 100px;
  background: #111;
  height: 100vh;
}
section header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}
section header .logo {
  position: relative;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  opacity: 0;
  animation: slideLeft 0.5s ease-in-out forwards;
}
section header .toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0;
  animation: slideRight 0.5s ease-in-out forwards;
}
section header .toggle.active {
  background: url(close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
section header .nav {
  position: absolute;
  right: 150px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
section header .nav.active {
  visibility: visible;
  opacity: 1;
}
section header .nav li {
  list-style: none;
}
section header .nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0 20px;
  display: inline-block;
}
section .container {
  position: absolute;
  display: flex;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  z-index: 100;
}
section .container .box {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid #111;
}
section .container .box:last-child {
  border-right: none;
}
section .container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0.5;
  filter: grayscale(1);
}
section .container .box .imgBx.active {
  position: fixed;
  top: 100px;
  left: 100px;
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  z-index: 1000;
  opacity: 1;
  filter: grayscale(0);
}
section .container .box .imgBx:hover {
  opacity: 1;
  filter: grayscale(0);
  cursor: pointer;
}
section .container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .container .box .imgBx.active img {
  visibility: hidden;
  opacity: 0;
}
section .container .box .imgBx .contentBx {
  width: 100%;
  height: 100%;
  position: relative;
  visibility: hidden;
  opacity: 0;
}
section .container .box .imgBx.active .contentBx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  filter: grayscale(0);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}
.footer .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .sci li {
  list-style: none;
}
.footer .sci li a {
  color: #555;
  text-decoration: none;
  margin-right: 20px;
}
.footer .sci li a:hover {
  color: #fff;
}
.footer .copyrightText {
  color: #fff;
  font-size: 14px;
}

@media (max-width: 991px) {
  section {
    padding: 100px 50px;
  }
  section header {
    padding: 10px 50px;
  }
  section .container {
    width: calc(100% - 100px);
    height: calc(100% - 200px);
    flex-direction: column;
  }
  section .container .box {
    width: 100%;
    border-right: none;
    border-bottom: 10px solid #111;
  }
  section .container .box:last-child {
    border-bottom: none;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer .sci {
    margin-bottom: 10px;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
